@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");


body {
    background-color: var(--blue-dark);

}

* {
    box-sizing: border-box;
}






body .card-main{
    position: absolute;
    top: 25%;
    left: 25%;
}

.card-main {
    border-radius: 50px 0px 0px 0px;
    background-color: var(--cyan-green);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 5%;
    /* height: fit-content; */
    /* width: 50%; */
    height: 900px;
    width: 900px;
}

.card-row {
    display: flex;
    gap: 10px;
    align-items: center;
    height: fit-content;
    justify-content: space-between;

}

.card-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.card-div {
    border-radius: 25px;
    width: 100%;
    position: relative;
    background-color: #fff787;
    height: 3px;
}

.card-form-input {
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
    width: 100%;
}
.card-main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}









/* Start For Card */

/*
.card-frame {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 806px;
    padding: 297px 315px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 935px;

    background-color: tomato;
}

.cards {
    align-items: flex-start;
    display: flex;
    height: 806px;
    left: 0;
    position: absolute;
    top: 0;
    width: 935px;
}

.card-background {
    align-self: stretch;
    background-color: var(--cyan-green);
    border-radius: 50px 0px 0px 0px;
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.card-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 16px;
    min-height: 690px;
    position: relative;
    top: 48px;
    width: 888px;
}


.card-form {
    margin: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 50px;
}


.card-row {
    align-items: center;
    display: flex;
    gap: 769px;
    height: 16px;
    min-width: 887px;
}

.card-rectangle {
    background-color: var(--yellow);
    height: 2px;
    margin-top: 3.0px;
    width: 48px;
}


.card-fottor-message {
    position: absolute;
    bottom: 0;
}

.card-top-message {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 42px;
    min-height: 31px;
    width: 888px;
}

.card-date-message {
    letter-spacing: 2.40px;
    line-height: normal;
    min-height: 16px;
    min-width: 70px;
    text-align: right;
} */
/* End For Card */



/* Start For Text Input*/
.text-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}




.form-input {
    align-items: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.input-place-holder {
    background-color: transparent;
    border: none;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: relative;
    width: 100%;
    height: 65px;
    padding: 10px 10px;
    background-color: var(--dark-blue);
    border: 2px solid;
    border-color: var(--yellow);
}

 .input-place-holder:enabled {
    color: var(--yellow);
}

/* .input-place-holder:focus {
    background-color: var(--green-dark);
    border-color: var(--green);
    outline: none;
} */
/*
.input-place-holder:valid{
    color: var(--green);
    background-color: var(--green-dark);
    border-color: var(--green);
} */

/* .input-place-holder:invalid {
    color: var(--red);
    background-color: var(--red-so-dark);
    border-color: var(--red);
} */


/* End For Text Input*/




/* Start For Button*/

.button {
    align-items: flex-start;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border: none;
}



.button-text {
    align-items: flex-start;
    background-color: var(--dark-blue);
    display: inline-flex;
    flex: 0 0 auto;
    height: 64px;
    padding: 22px;
    position: relative;
}

  .button::clicked
  {
    background-color: green;
  }

/* End For Button*/















.button-Default {
    background-color: var(--cyan-green);
    color: var(--yellow);
    /* width: 100%; */
    /* height: 100%; */
    border: none;
    padding: 15px 30px;

    position: relative; /* Make this relative so ::after is positioned correctly */
    clip-path: polygon(
        0 20%,
        0 0,
        90% 0,
        100% 30%,
        100% 100%,
        0 100%,
        0 80%,
        5% 70%,
        5% 30%);
    transition: all 0.4s ease;
}


.button-Default:disabled {
    background-color: var(--red-dark);
    color: var(--yellow);
    /* width: 100%; */
    /* height: 100%; */
    border: none;
    padding: 15px 30px;
    /* cursor: pointer; */
    position: relative; /* Make this relative so ::after is positioned correctly */
    clip-path: polygon(
        0 20%,
        0 0,
        90% 0,
        100% 30%,
        100% 100%,
        0 100%,
        0 80%,
        5% 70%,
        5% 30%);
    transition: all 0.4s ease;
}


.button-Default:not(:disabled):hover {
    clip-path: polygon(
        0 20%,
        0 0,
        100% 0,
        100% 70%,
        90% 100%,
        0 100%,
        0 80%,
        5% 70%,
        5% 30%);
    background-color: var(--cyan-green); /* Optional color change on hover */
    transform: scale(1.10);
    cursor: pointer;
}

.button-Default:not(:disabled):active {
    transform: scale(1);
    background-color: var(--green);
    cursor: pointer;
}
